server/node_modules/
ContactTracing/ContactTracing.xcodeproj/project.xcworkspace/xcuserdata/lesliezhou.xcuserdatad/UserInterfaceState.xcuserstate
ContactTracing/ContactTracing.xcodeproj/project.xcworkspace/xcuserdata/jenn.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
ContactTracing/.DS_Store